<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "DayZ Barters", root_path, id: "logo", class: "home-logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to root_path do %>
            &nbsp;Home<% end %>
	  </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
